asgiref==3.9.1
astroid==3.3.11
black==25.1.0
boolean.py==5.0
CacheControl==0.14.3
certifi==2025.10.5
cfgv==3.4.0
charset-normalizer==3.4.3
click==8.2.1
cyclonedx-python-lib==9.1.0
defusedxml==0.7.1
dill==0.4.0
distlib==0.4.0
Django==5.2.7
django-redis==5.4.0
filelock==3.18.0
gunicorn==23.0.0
identify==2.6.13
idna==3.10
isort==6.0.1
license-expression==30.4.4
markdown-it-py==4.0.0
mccabe==0.7.0
mdurl==0.1.2
msgpack==1.1.1
mypy_extensions==1.1.0
nodeenv==1.9.1
packageurl-python==0.17.5
packaging==25.0
pathspec==0.12.1
pillow==11.3.0
pip-api==0.0.34
pip-requirements-parser==32.0.1
pip_audit==2.9.0
platformdirs==4.3.8
pre_commit==4.3.0
psycopg==3.2.9
py-serializable==2.1.0
Pygments==2.19.2
pylint==3.3.8
pylint-django==2.6.1
pylint-plugin-utils==0.9.0
pyparsing==3.2.5
python-dotenv==1.1.1
PyYAML==6.0.2
redis==6.4.0
requests==2.32.5
rich==14.1.0
sortedcontainers==2.4.0
sqlparse==0.5.3
toml==0.10.2
tomlkit==0.13.3
urllib3==2.5.0
virtualenv==20.33.1
