{% extends 'base.html' %}

{% block title %}News Archive{% endblock %}

{% block content %}
  <header>
    <h1>News Archive</h1>
  </header>
  <nav aria-label="Filter by Committee">
    <p>Filter by Committee:</p>
    <ul>
      {% for committee in all_committees %}
        <li>
          <a href="{% url 'news:archive' %}?committee={{ committee.slug }}">
            {{ committee.group.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
    {% if filtered_committee %}
      <p>
        <a href="{% url 'news:archive' %}">Remove Filter</a>
      </p>
    {% endif %}
  </nav>
  <section>
    <h2>
      {% if filtered_committee %}
        News by {{ filtered_committee.group.name }}
      {% else %}
        News by All Committees
      {% endif %}
    </h2>
    {% for year, months in grouped_news.items %}
      <section>
        <h3>{{ year }}</h3>
        {% for month, news in months.items %}
          <section>
            <h4>{{ month }}</h4>
            <ul>
              {% for post in news %}
                <li>
                  <article>
                    <h5><a href="{% url 'news:detail' post.slug %}">{{ post.title }}</a></h5>
                    <p><time datetime="{{ post.created_at|date:'Y-m-d' }}">{{ post.created_at|date:'F j, Y' }}</time></p>
                  </article>
                </li>
              {% endfor %}
            </ul>
          </section>
        {% endfor %}
      </section>
    {% endfor %}
  </section>
{% endblock %}