{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "News Archive" %}{% endblock %}

{% block content %}
  <header>
    <h1>{% trans "News Archive" %}</h1>
  </header>
  <aside aria-label="{% trans "Filter by Committee" %}">
    <form method="get" action="{% url 'news:archive' %}">
      <label for="committee-select">{% trans "Filter by Committee" %}:</label>
      <select id="committee-select" name="committee" onchange="this.form.submit()">
      <option value="" {% if not filtered_committee %}selected{% endif %}>{% trans "All Committees" %}</option>
      {% for committee in all_committees %}
        <option value="{{ committee.slug }}" {% if filtered_committee == committee %}selected{% endif %}>
        {{ committee.group.name }}
        </option>
      {% endfor %}
      </select>
    </form>
    {% if filtered_committee %}
      <p>
        <a href="{% url 'news:archive' %}">{% trans "Remove Filter" %}</a>
      </p>
    {% endif %}
  </aside>
  <section>
    <h2>
      {% if filtered_committee %}
        {% trans "News by" %} {{ filtered_committee.group.name }}
      {% else %}
        {% trans "News by All Committees" %}
      {% endif %}
    </h2>
    {% for year, months in grouped_news.items %}
      <section>
        <h3>{{ year }}</h3>
        {% for month, news in months.items %}
          <section>
            <h4>{{ month }}</h4>
            <ul>
              {% for post in news %}
                <li>
                  <article>
                    <h5><a href="{% url 'news:detail' post.slug %}">{{ post.title }}</a></h5>
                    <p><time datetime="{{ post.created_at|date:'Y-m-d' }}">{{ post.created_at|date:'F j, Y' }}</time></p>
                  </article>
                </li>
              {% endfor %}
            </ul>
          </section>
        {% endfor %}
      </section>
    {% endfor %}
  </section>
{% endblock %}