{% extends 'base.html' %}

{% block title %}Community News{% endblock %}

{% block content %}
  <header>
    <h1>Latest News</h1>
  </header>
  <section>
    {% if latest_posts_list %}
      <ul>
        {% for post in latest_posts_list %}
          <li>
            <article>
              <h2><a href="{% url 'news:detail' post.slug %}">{{ post.title }}</a></h2>
              <p>Published: <time datetime="{{ post.created_at|date:'Y-m-d' }}">{{ post.created_at|date:'F j, Y' }}</time></p>
              <p>Committee: {{ post.committee }}</p>
            </article>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No news posts available.</p>
    {% endif %}
    <a href="{% url 'news:archive' %}">View News Archive</a>
  </section>
{% endblock %}