{% extends 'base.html' %}

{% block title %}Activities Archive{% endblock %}

{% block content %}
  <h1>Activities Archive</h1>

  <aside>
    <p>Filter by Committee:</p>
    <ul>
      {% for committee in all_committees %}
        <li>
          <a href="{% url 'activities:archive' %}?committee={{ committee.slug }}">
            {{ committee.group.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
    {% if filtered_committee %}
      <p>
        <a href="{% url 'activities:archive' %}">Remove Filter</a>
      </p>
    {% endif %}
  </aside>

  <h2>
    {% if filtered_committee %}
      Activities for {{ filtered_committee.group.name }}
    {% else %}
      Activities by All Committees
    {% endif %}
  </h2>

  {% for year, months in grouped_activities.items %}
    <article>
      <h3>{{ year }}</h3>
      {% for month, activities in months.items %}
        <h4>{{ month }}</h4>
        <ul>
          {% for activity in activities %}
            <li>
              <h5><a href="{% url 'activities:detail' activity.slug %}">{{ activity.title }}</a></h5>
              <p>{{ activity.created_at|date:"F j, Y" }}</p>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
      <hr />
    </article>
  {% endfor %}
{% endblock %}