{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Activities Archive" %}{% endblock %}

{% block content %}
  <header>
    <h1>{% trans "Activities Archive" %}</h1>
  </header>
  <aside aria-label="{% trans "Filter by Committee" %}">
    <form method="get" action="{% url 'activities:archive' %}">
      <label for="committee-select">{% trans "Filter by Committee" %}:</label>
      <select id="committee-select" name="committee" onchange="this.form.submit()">
      <option value="" {% if not filtered_committee %}selected{% endif %}>{% trans "All Committees" %}</option>
      {% for committee in all_committees %}
        <option value="{{ committee.slug }}" {% if filtered_committee == committee %}selected{% endif %}>
        {{ committee.group.name }}
        </option>
      {% endfor %}
      </select>
    </form>
    {% if filtered_committee %}
      <p>
        <a href="{% url 'activities:archive' %}">{% trans "Remove Filter" %}</a>
      </p>
    {% endif %}
  </aside>
  <section>
    <h2>
      {% if filtered_committee %}
        {% trans "Activities by"%} {{ filtered_committee.group.name }}
      {% else %}
        {% trans "Activities by All Committees" %}
      {% endif %}
    </h2>
    {% for year, months in grouped_activities.items %}
      <section>
        <h3>{{ year }}</h3>
        {% for month, activities in months.items %}
          <section>
            <h4>{{ month }}</h4>
            <ul>
              {% for activity in activities %}
                <li>
                  <article>
                    <h5><a href="{% url 'activities:detail' activity.slug %}">{{ activity.title }}</a></h5>
                    <p><time datetime="{{ activity.start|date:'Y-m-d' }}">{{ activity.start|date:'F j, Y,  H:i' }}</time></p>
                  </article>
                </li>
              {% endfor %}
            </ul>
          </section>
        {% endfor %}
      </section>
    {% endfor %}
  </section>
{% endblock %}