{% extends 'base.html' %}

{% block title %}Activity Archive{% endblock %}

{% block content %}
  <h1>Activities Archive</h1>
  {% for year, months in grouped_activities.items %}
    <h2>{{ year }}</h2>
    {% for month, committees in months.items %}
      <h3>{{ month }}</h3>
      {% for committee, activities in committees.items %}
        <h4><a href="{% url 'committees:detail' committee.slug %}">{{ committee.group.name }}</a></h4>
        <ul>
          {% for activity in activities %}
            <li>
              <h5><a href="{% url 'activities:detail' activity.slug %}">{{ activity.title }}</a></h5>
              <p>{{ activity.start|date:"F j, Y" }}</p>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    {% endfor %}
  {% endfor %}
{% endblock %}