{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% if activity %}
        {{ activity.title }}
    {% else %}
        Activity
    {% endif %}
{% endblock %}

{% block content %}
  <article>
    {% if activity %}
      <header>
        <h1>{{ activity.title }}</h1>
        {% if activity.poster %}
          <img src="{{ activity.poster.url }}" alt="{% trans "Poster for" %} {{ activity.title }}" style="max-width: 500px; height: auto;">
        {% else %}
          <p>{% trans "No poster available for this activity." %}</p>
        {% endif %}
        <p>{% trans "Start" %}: <time datetime="{{ activity.start|date:'Y-m-d' }}">{{ activity.start|date:'F j, Y,  H:i' }}</time></p>
        <p>{% trans "End" %}: <time datetime="{{ activity.end|date:'Y-m-d' }}">{{ activity.end|date:'F j, Y,  H:i' }}</time></p>
        <p>{% trans "Location" %}: {{ activity.location }}</p>
        <p>{% trans "Committee" %}: {{ activity.committee }}</p>
      </header>
      <p>{{ activity.content }}</p>
    {% else %}
      <p>{% trans "Activity no longer available." %}</p>
    {% endif %}
  </article>
{% endblock %}