{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Activities" %}{% endblock %}

{% block content %}
  <header>
    <h1>{% trans "Upcoming Activities" %}</h1>
  </header>
  <section>
    {% if upcoming_activity_list %}
      <ul>
        {% for activity in upcoming_activity_list %}
          <li>
            <article>
              <h2><a href="{% url 'activities:detail' activity.slug %}">{{ activity.title }}</a></h2>
              <p>{% trans "Start" %}: <time datetime="{{ activity.start|date:'Y-m-d' }}">{{ activity.start|date:'F j, Y, H:i' }}</time></p>
              <p>{% trans "Location" %}: {{ activity.location }}</p>
            </article>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>{% trans "No upcoming activities available." %}</p>
    {% endif %}
    <a href="{% url 'activities:archive' %}">{% trans "View Activities Archive" %}</a>
  </section>
{% endblock %}