{% extends 'base.html' %}

{% block title %}Activities{% endblock %}

{% block content %}
  <header>
    <h1>Upcoming Activities</h1>
  </header>
  <section>
    {% if upcoming_activity_list %}
      <ul>
        {% for activity in upcoming_activity_list %}
          <li>
            <article>
              <h2><a href="{% url 'activities:detail' activity.slug %}">{{ activity.title }}</a></h2>
              <p><time datetime="{{ activity.start|date:'Y-m-d' }}">{{ activity.start|date:'F j, Y, g:i a' }}</time></p>
              <p>Location: {{ activity.location }}</p>
            </article>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No upcoming activities available.</p>
    {% endif %}
    <a href="{% url 'activities:archive' %}">View Activities Archive</a>
  </section>
{% endblock %}