<!DOCTYPE html>
<html lang="{% block lang %}en{% endblock %}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5">
  <title>{% block title %}Neighborhood Community Application{% endblock %}</title>
</head>

<body>
  <header>
    <a href="{% block heading-link %}/{% endblock %}">
      <h1>
        {% block heading %}
        Neighborhood Community Application
        {% endblock %}
      </h1>
    </a>
    <nav>
      {% block nav %}
      <ul>
        <li><a href="{% url 'news:index' %}">News</a></li>
        <li><a href="{% url 'activities:index' %}">Activities</a></li>
        <li><a href="{% url 'committees:index' %}">Committees</a></li>
      </ul>
      {% endblock %}
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    {% block footer %}
    {% endblock %}
  </footer>
</body>
</html>