{% extends 'base.html' %}

{% block title %}Committees{% endblock %}

{% block content %}
  <header>
    <h1>Committees</h1>
  </header>
  <section>
    {% if committee_list %}
      <ul>
        {% for committee in committee_list %}
          <li>
            <article>
              <h2><a href="{% url 'committees:detail' committee.slug %}">{{ committee.group.name }}</a></h2>
              <p>{{ committee.description|truncatewords:20 }}</p>
            </article>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No committees available.</p>
    {% endif %}
  </section>
{% endblock %}
