{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Committees" %}{% endblock %}

{% block content %}
  <header>
    <h1>{% trans "Committees" %}</h1>
  </header>
  <section>
    {% if committee_list %}
      <ul>
        {% for committee in committee_list %}
          <li>
            <article>
              <h2><a href="{% url 'committees:detail' committee.slug %}">{{ committee.group.name }}</a></h2>
              <p>{{ committee.description|truncatewords:20 }}</p>
            </article>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>{% trans "No committees available." %}</p>
    {% endif %}
  </section>
{% endblock %}
